@tailwind base;
@tailwind components;
@tailwind utilities;

.client {
  background: url("/images/Clients.png") no-repeat center;
}

.hero-bg {
  background: url("/images/HeroBg.png") center;
  background-size: 100% 100%;
}


.form-container {
  background: url("/images/bubles.png") no-repeat 87% 50%;
}

.form-container {
  background: url("/images/Touchnow.png") no-repeat 0 100%
}

.footer-bg{
  background: url('/images/Group 2484.png') no-repeat center;
  background-size: 100% 100%;
}

.footer-char{
  background: url('/images/FooterGroup.png') no-repeat 100% 100%;
}